<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>人事管理系统</title>
</head>

<body data-type="generalComponents">


    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>



        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            </ul>
             <div class="am-topbar-brand" style="float: right;">
             <a href="/pwd"> <font  color="black">&ensp; &ensp; 修改密码</font></a>
             <a href="/phone"> <font  color="black">&ensp; &ensp; 登出</font></a>
            </div>


        </div>
    </header>







    <div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/staff_index" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>系统首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/staff_inf"  class="nav-link active">
                            <i class="am-icon-bar-chart"></i>
                            <span>个人信息</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/phone" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>修改电话号码</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

	<table  cellspacing="50">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>联系电话</th>
        <th>入职时间</th>
        <th>职位</th>
        <th>薪资</th>
        <th>上级ID</th>
        <th>部门ID</th>
    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
                <td>{{ i[6] }}</td>
                <td>{{ i[7] }}</td>
                <td>{{ i[8] }}</td>
            </tr>
    {% endfor %}
    </table>
</body>
</html>



